DB_HOST="localhost"
DB_PORT=3306
DB_DATABASE=senai_asistencia
DB_USERNAME=root
DB_PASSWORD=

# URL base del proyecto sin barra al final.
# Cámbiala según tu entorno local.
APP_URL=http://localhost/2026/employee-attendance-system
