.acciones{
    display: flex;
    gap: 10px;
}

/* BOTÓN EDITAR */

.btn-editar{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-editar:hover{
    background: #1d4ed8;
}

/* BOTÓN ELIMINAR */

.btn-eliminar{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background: #dc2626;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-eliminar:hover{
    background: #b91c1c;
}